.not-active{
    color: gray;
}

.log-out {
    color: gray;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.log-out:hover {
    color: black;
}